{% set lists = __SELF__.list%}
{% set imagePath = __SELF__.imagePath %}



<div class="nlstech-our-team">
	<div class="wrapper-our-team-header">
		<h2 class="section_title">Our Team<span></span></h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu nibh quam. Sed feugiat justo neque, ac dapibus lacus eleifend ut. Sed <br>feugiat suscipit lectus, fermentum dignissim lacus efficitur at. Mauris non tincidunt urna,</p>
	</div>

	<div class = "wrapper-our-team-footer">

		{% for i in range(0,lists|length-1)%}
			<div class = "our-team-page">
				<a href="#">
					<img class="img-our-team" src="{{imagePath[i]}}" alt="" title="This is an example of a caption"/>
					
				</a>

				<div class="title-section-our-team">
					<h4 class = "title-our-team" >{{lists[i].name}}</h4>
					<div class="content-our-team">{{lists[i].roll}}</div>
				</div>
				
				
			</div>
		{% endfor %}
			
	</div>
</div>
<div class="clear"></div>