[viewBag]
==
<?php
use NlsTech\Post\Models\Post;

function onStart() {
	$posts = Post::orderBy('id', 'desc')->take(3)->get();
	if ($posts) {
		$this['posts'] = $posts;
	} else {
		$this['posts'] = '';
	}
}
?>
==
<div class="footer-inner">
	<div class="container">
		<div class="row">
			<div class="col-md-4 footer-widget">
				<h4>{{ 'About us'|_ }}</h4>
				<p>Sed nulla sapien, vulputate non dictum sit amet, pulvinar et sapien. Morbi cursus elementum arcu at mollis. Quisque vel lectus ut libero tristique iaculis. Mauris eu tortor lacinia, feugiat arcu ut, efficitur massa. Nulla facilisi. Vestibulum ante dolor,</p>
				<p>semper vitae varius sed, mollis ut nisi. In commodo pellentesque ipsum, sed semper tortor sagittis a. In sed nulla ut urna lacinia elementum nec eget massa. Donec non feugiat diam. Nullam sem dui, hendrerit vitae ante nec, consequat tincidunt urna. Vivamus cursus dolor ut scelerisque imperdiet</p>
			</div>
			<div class="col-md-4 footer-widget">
				<h4>{{ 'Latest posts'|_ }}</h4>
				{% if posts %}
					<div class="latest-posts">
						{% for post in posts %}
							<div class="item">
								<a class="thumb" href="{{ 'post'|page }}"><img src="{{ post.feature_image.thumb(60, 60, {'mode':'crop'}) }}" alt="{{ post.title }}"></a>
								<div class="item-content">
									<h6><a href="{{ 'post'|page }}">{{ post.title }}</a></h6>
									{{ str_words(post.content, 14, '...') }}
								</div>
								<div class="clear"></div>
							</div>
						{% endfor %}
					</div>
				{% endif %}
			</div>
			<div class="col-md-4 footer-widget">
				<h4>{{ 'Where to find us'|_ }}</h4>
				<p class="no-margin">4th Floor, 132E Cách Mạng Tháng Tám, Phường 10, Quận 3, Ho Chi Minh City</p>
				<div class="footer-info">
					Phone: +01 23 456 7890<br>
					E-mail: <a href="mailto:support@sitename.com">support@sitename.com</a><br>
					Website: <a href="http://www.nlstech.net">http://www.nlstech.net</a>
				</div>
				<div class="socials">
					<a href="#" target="_blank" class="fab fa-facebook-f"></a>
					<a href="#" target="_blank" class="fab fa-twitter"></a>
					<a href="#" target="_blank" class="fab fa-linkedin-in"></a>
					<a href="#" target="_blank" class="fab fa-instagram"></a>
					<a href="#" target="_blank" class="fas fa-envelope"></a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="copyright-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-7 copyright-txt">© Copyright <a href="http://www.nlstech.net" target="_blank">NLS Tech</a> 2019 All Rights Reserved </div>
			<div class="col-md-5 design-by">Design by <a href="http://www.nlstech.net" target="_blank">NLS Tech</a></div>	
		</div>
	</div>
</div>