[viewBag]

[staticMenuMultilingual]
code = "main-menu"
==
<div class="container">
<div class="row header-inner">
<div id="logo" class="col-md-3">
<h1><a href="{{ 'home'|page }}"><img src="{{ 'assets/images/logo.jpeg'|theme }}" /></a></h1>
</div>
<div class="col-md-9 header-right">
<div class="lang-wrapper"><a class="{% if activeLocale == 'en' %}active{% endif %}" href="#" data-request="onSwitchLocale" data-request-data="locale: 'en'"><img src="{{ 'assets/images/united-kingdom.png'|theme }}" alt="EN" /></a> <a class="{% if activeLocale == 'vi' %}active{% endif %}" href="#" data-request="onSwitchLocale" data-request-data="locale: 'vi'"><img src="{{ 'assets/images/vietnam.png'|theme }}" alt="VN" /></a></div>
<nav class="main-menu">{% component 'staticMenuMultilingual' %}</nav></div>
</div>
</div>