.nlstech-about-us{
	height: auto;
	width: 100%;
	overflow:auto; 
	padding: 60px 0;
}

.wrapper-about-us-footer{
	width: 100%;
}

.about-us-page{
	/*margin-right: 5%;*/
	width: 20%;
	float: left;
	margin-bottom: 20px;
	position: relative;
}

.about-us-page:first-child{
	margin-left: 20%;
}

.about-us-page:last-child{
	margin-right: 20%;
}

.title-about-us{
	text-align: center;
	margin-top: 10px;
	font-weight: bold;
	    text-transform: uppercase;
letter-spacing: 1px;
}

.img-about-us{
	width: 60%;
	height: 20%;
	display: block;
		margin-left: auto;
		margin-right: auto;
}
.content-about-us{
	text-align: center;
	font-family: 'PT SAN', sans-serif;
	    display: block;

}

.wrapper-about-us-header{
		
    color: #5D5C5C;
    text-align: center;
 
}

.wrapper-about-us-header .section_title{
   font-weight: 800;
}

.wrapper-about-us-header p{
   font-size: 18px;
   text-align: center;
}

a {
	text-decoration: none !important;
	/*color: #444444 !important;*/
}
