.clear{
    float: clear;
}

h2.section_title:after {
    content: "";
    position: absolute;
    border-bottom: solid 3px #3e3e3e;
    width: 30px;
    bottom: 0;
    left: 50%;
    margin-left: -15px;
}

h2.section_title{
    font-family: 'Oswald', sans-serif;
    color: #000000;
    font-size: 32px;
    font-weight: 700;
    margin: 0 auto 60px auto;
    padding-bottom: 10px;
    text-transform: uppercase;
    display: table;
    position: relative;
}

.nivoSlider {
    width: 100%;
    height: 714px;
    margin: 0;
}

/* resize images */
.nivoSlider img {
    width: 100%;
    height: auto;
    margin: 0;
}

.nivo-control{
    background: red !important;
}

.nivo-controlNav{
    position: absolute;
    bottom: 5%;
    z-index: 1111;
    left: 0;
    width: 100%;
}

.nivo-control{
    background: #ffffff !important;
    border-radius: 50%;
    height: 18px !important;
    width: 18px !important;
}

.nivo-control.active{
    background: #e20d13 !important;
    border-radius: 50%;
    height: 18px !important;
    width: 18px !important;

}

.slider-wrapper{
    width: 100%;
    margin: 0;
}

.nivo-caption {
  min-width: 550px;
  overflow: hidden;
  position: absolute;
  top: 30%;
  z-index: 8;
  background: none;
  font-size: 70px;
  font-family: Oswald !important;
  text-align: center;
  margin-bottom: 0; 

}

.nivo-caption h2{
    color: #636262;
    font-size: 50px;
    font-weight:800;
}

.nivo-caption p{
    font-size: 20px;
    color: #636262;
}

.nivo-html-caption {
  display:none;
}   

#manual-nivo-caption{
    background: none;
    color: #000;
    position: relative;
    border: 1px solid #000;
}

a {
    text-decoration: none;
    color: #444444;
}

a:hover{
    text-decoration: none;
    color: #e20d13;
}

.main-menu ul li.active a:first-child {
    color: #e20d13;
}

.nivo-caption h2{
    color: #353535 !important;
     text-transform:uppercase;
     font-weight:800;
}


