.nlstech-our-work{
	height: auto;
	width: 100%;
	overflow:auto; 
	padding: 60px 0;
	background-color: #f9f9f9;
}

.wrapper-our-work-footer{

	width: 100%;
	margin-right: auto; 
	margin-left: auto; 
}

.wrapper-our-work-header p{
	text-align: center;
}

.img-our-work{
	height: 436px;
	display: block; 	
}

.our-work-page{
	width: 31%;
	margin-right: 2%;
	display: inline-block;
	margin-bottom: 20px;
	position: relative;
}

.ul-our-work{
	list-style-type: none;
}

.photo-our-work{
	padding-left: 18%;
	padding-right: 18%;
	width: 100%;
	height: auto;
}

.img-our-work:hover{
	opacity:0.2;

}

.our-work-page li strong{
	display: none;
	position: absolute;
	top: 40%;
	text-align: center;
	width: 100%;
	color: #e20d13;
	font: 20px 'Oswald';
}

.our-work-page li p{
	display: none;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100%;
	font-style: italic;
    font-weight: bold;
	color: #fff;
}

.our-work-page li {
	background: url(http://sktthemesdemo.net/design-agency/wp-content/themes/skt-design-agency-pro/images/view-full-portfolio.png) 50% 0 no-repeat #060505;

}

.our-work-page li:hover{
	transition: all 0.6s ease-in-out;
	z-index: 999;
	background: url(http://sktthemesdemo.net/design-agency/wp-content/themes/skt-design-agency-pro/images/view-full-portfolio.png) 50% 62% no-repeat #060505;
}

.our-work-page li:hover strong{
	display:block;
}

.our-work-page li:hover p{
	display:block; line-height:100%;
}
