.nlstech-our-team{
	height: auto;
	width: 100%;
	overflow:auto; 
	padding: 60px 0;
}

.wrapper-our-team-footer{
	width: 100%;
	padding-left: 18%;
	padding-right: 18%;
}

.wrapper-our-team-header p{
	text-align: center;
}

.our-team-page{
	text-align: center;
	width: 23%;
    margin-right: 2%;
	float: left;
	margin-bottom: 20px;
}

.our-team-page:first-child{
	margin-left: 0;
}


.our-team-page:last-child{
	margin-right: 0;
}

.title-our-team{
	text-align: center;
	margin-top: 10px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.img-our-team{
	width: 100%;
    height: 318px;
    margin-right: 30px;
    transition: all 0.6s ease-in-out 0s;
}

.our-team-page:hover{
	background: #e20d13;
	color: #fff;
}

.content-our-team{
	font-style: italic;
	font-family: 'PT SAN', sans-serif;
	font-size: 14px;
}

.title-our-team{

	line-height: 23px;
}

.space-section{
	margin-bottom: 50px;
}

.title-section-our-team{
	padding: 24px 25px;
}

.title-section-our-team h4{
	font-family: Oswald;
	font-weight: bold;
    text-transform: uppercase;
	font-weight: 800;
		margin: 0;
	padding: 10px 0;
}