#myCarousel{
	background-image:url(http://sktthemesdemo.net/design-agency/wp-content/themes/skt-design-agency-pro/images/testimonial-bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 550px;
	background-attachment: fixed;
	color: green;

 
}

.carousel-indicators{
	    bottom: 130px;
    margin: 0;
    left: 0;
    width: 100%;
}

.carousel-inner-text{
	text-align: center;
    position: absolute;
    top: 20%;
}
 
.carousel-indicators li{
	border: 0px solid red;
	margin: 0 2px;
	background-color: #ffffff;
   	height: 14px;
   	width: 14px;

}

.carousel-indicators li.active{
	border: 0px solid red;
	margin: 0 2px;
	background-color: #e20d13;
	height: 14px;
   	width: 14px;
}

.carousel-inner .item h3{
	text-align: left;
	font-weight: 700;
    margin: 0 0 10px 0;
    line-height: 28px;
    color: #ffffff;
    font-style: italic;
    text-transform: uppercase;
}

.carousel-inner .item h6{
	font-family: PT Sans;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	color: #e20d13;
	margin: 0 0 20px;
}

.carousel-inner .item p{
	line-height: 24px;
    margin-bottom: 0;
    color: #ffffff;
    text-align: left;
}
 

.item{
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

/*.carousel-inner .item h3.active{
	color: #ffffff;
}*/