@font-face {
	font-family: Oswald;
	src: url(../fonts/Oswald-Light.ttf) format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Oswald;
	src: url(../fonts/Oswald-Regular.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Oswald;
	src: url(../fonts/Oswald-Bold.ttf) format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: PT Sans;
	src: url(../fonts/PT_Sans-Web-Regular.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: PT Sans;
	src: url(../fonts/PT_Sans-Web-Italic.ttf) format("truetype");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: PT Sans;
	src: url(../fonts/PT_Sans-Web-BoldItalic.ttf) format("truetype");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: PT Sans;
	src: url(../fonts/PT_Sans-Web-Bold.ttf) format("truetype");
	font-weight: 700;
	font-style: normal;
}
body {
	color: #444444;
	font-family: PT Sans;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
}
a {
	color: #444444;
}
a:hover, a:focus, a:active {
	color: #e20d13;
	transition: 0.4s;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
}
h4 {
	font-family: Oswald;
    font-size: 18px;
    color: #000000;
}
p.no-margin {
	margin-bottom: 0;
}
.clear {
	clear: both;
}
.section {
	padding: 60px 0;
}
img {
	max-width: 100%;
}
h2.section-title {
	font-family: 'Oswald', sans-serif;
    color: #000000;
    font-size: 32px;
    font-weight: 700;
    margin: 0 auto 60px auto;
    padding-bottom: 10px;
    text-transform: uppercase;
    display: table;
    position: relative;
}
h2.section-title:after {
	content: "";
	position: absolute;
    border-bottom: solid 3px #3e3e3e;
    width: 30px;
    bottom: 0;
    left: 50%;
    margin-left: -15px;
}
header {
	padding: 15px 0;
}
.main-menu {
	margin: 10px 0;
}
.lang-wrapper {
	text-align: right;
}
.lang-wrapper a {
	-webkit-filter: grayscale(100%);
  	filter: grayscale(100%);
  	margin-left: 5px;
  	display: inline-block;
}
.lang-wrapper a.active {
	-webkit-filter: grayscale(0);
  	filter: grayscale(0);
}
.lang-wrapper img {
	width: 28px;
}
#logo h1 {
	margin-bottom: 0;
}
.main-menu {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
}
.main-menu ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.main-menu ul li {
	display: inline-block;
}
.main-menu ul li a {
	padding: 10px 12px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Oswald;
	font-size: 16px;
}
.main-menu ul li:last-child a {
	padding-right: 0;
}
.main-menu ul li.active a {
	color: #e20d13;
}
footer {
	color: #ffffff;
}
.footer-inner {
	padding-top: 40px;
	background: #323232;
}
.footer-widget {
	margin-bottom: 25px;
}
.footer-widget h4 {
	font-size: 18px;
	font-family: Oswald;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}
footer p {
	margin-bottom: 15px;
}
footer a {
	color: #ffffff;
}
footer a:hover {
	text-decoration: none;
}
.footer-info {
	line-height: 27px;
	margin: 10px 0;
}
.socials a {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin-bottom: 10px;
	text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
	border-radius: 50%;
	background: #545556;
	margin-right: 10px;
	transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
}
.socials a:last-child {
	margin-right: 0;
}
.socials a:hover {
	background: #e20d13;
	color: #fff;
}
.copyright-wrapper {
	background: #292929;
	padding: 15px 0;
}
.copyright-wrapper .design-by {
	text-align: right;
}
.copyright-wrapper a {
	color: #e20d13;
}
footer .latest-posts .item {
	padding-bottom: 10px;
	border-bottom: 1px solid #4b4d51;
	margin-bottom: 20px;
}
footer .latest-posts .item:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}
footer .latest-posts .thumb {
	display: block;
	float: left;
	margin: 3px 10px 5px 0;
	width: 60px;
}
footer .latest-posts .item-content {
	float: right;
	width: calc(100% - 70px);
}
footer .latest-posts h6 {
	margin-bottom: 5px;
	font-size: 13px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: 700;
}
footer h4 {
	color: #fff;
}
.sec-latest-posts .item {
	margin-bottom: 10px;
	padding-bottom: 30px;
}
.sec-latest-posts .item-content {
	padding: 10px 0;
	min-height: 260px;
	position: relative;
}
.sec-latest-posts h4 {
	text-transform: uppercase;
    line-height: 25px;
    font-weight: 800;
    margin: 10px 0 5px 0;
}
.sec-latest-posts h4 a {
	color: #000000;
	text-decoration: none;
}
.sec-latest-posts h4 a:hover {
	color: #e20d13;
}
.date-post {
	color: #909090;
    text-transform: capitalize;
    font-style: italic;
    margin-bottom: 15px;
    position: relative;
    padding-bottom: 10px;
}
.date-post:after {
	position: absolute;
	content: "";
	bottom: 0;
	width: 40px;
	border-bottom: solid 2px #d9ddd7;
	left: 0;
}
.sec-latest-posts .read-more {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #000000;
	text-shadow: 0 0 0 #000;
	text-decoration: none;
}
.sec-latest-posts .read-more:hover {
	color: #e20d13;
}
.sec-skills {
	background: #f9f9f9;
}
.sec-skills .item .pie_progress {
	width: 150px;
	height: 150px;
	margin: 0 auto;
}
.sec-skills .list-items {
	padding-bottom: 10px;
}
.sec-skills .item {
	margin-bottom: 30px;
}
.sec-skills .pie_progress__number {
	font-size: 21px;
	font-family: Oswald;
	color: #6a6969;
}
.sec-skills .pie_progress__text {
	margin-top: 30px;
	font-family: Oswald;
	font-weight: 700;
	font-size: 18px;
	text-align: center;
	color: #000000;
	text-transform: uppercase;
}