.nlstech-why-choose-us{
	height: auto;
	width: 100%;
	overflow:auto; 
	padding: 60px 0;
}

.wrapper-why-choose-us-footer{
	width: 100%;
	padding-left: 18%;
	padding-right: 18%;
}

.why-choose-us-page{
	margin-right: 3%;

	width: 30%;
	display: inline-table;
	margin-bottom: 20px;
	position: relative;
}

.title-why-choose-us{
	text-align: center;
	margin-top: 10px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.img-why-choose-us{
	float: left;
	width: 141px;
    height: 141px;
    margin-right: 30px;
    border: solid 3px transparent;
    transition: all 0.6s ease-in-out 0s;
}

.content-why-choose-us{
	
	text-align: left;
	font-family: 'PT SAN', sans-serif;
	display: block;
}

.title-why-choose-us{
	/*float: left;*/
	text-align: left;
	line-height: 22px;
	margin-top: 10%;
	font-family: 'Oswald';
	color: #000000;
	letter-spacing: normal;
	word-spacing: 0px;
}

.img-why-choose-us:hover{ 
	border:solid 3px #e20d13;
}

.read-more-why-us{
	margin-top: 3%;
}

.read-more-why-us a{
	color: #000000;
}

.read-more-why-us a:hover{
	color: #e20d13;
}