{% set lists = __SELF__.list%}
{% set imagePath = __SELF__.imagePath %}

<div class="nlstech-why-choose-us">
	<div class="wrapper-why-choose-us-header">
		<h2 class="section_title">Why Choose Us<span></span></h2>
	</div>

	<div class = "wrapper-why-choose-us-footer">

		{% for i in range(0,lists|length-1)%}
			<div class = "why-choose-us-page">
				<a href="#">
					<img class="img-why-choose-us" src="{{imagePath[i]}}" alt="" title="This is an example of a caption"/>
					<h4 class = "title-why-choose-us" >{{lists[i].title}}</h4>
				</a>
					
				<div class="clear"></div>

				<div class="content-why-choose-us">
					{{lists[i].content|raw}}
				</div>
			
				<div class="read-more-why-us">
					<a href="{{'why-choose-us/' ~ lists[i].slug}}" target="_blank" >Read More → </a>
				</div>
				
			</div>
		{% endfor %}
		
	</div>
</div>
<div class="clear"></div>