{% set lists = __SELF__.list%}
{% set imagePath = __SELF__.imagePath %}


{% for list in lists%}
<!-- 	<a href="{{'test/' ~ list.title ~ '/' ~ list.slug}}">
		<li>{{list.title}}</li>
	</a> -->

{% endfor %}

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->

<style type="text/css">
	.wrapper-about-us-footer{
		width: 100%;
	}

	.about-us-page{
		/*margin-right: 5%;*/
    	width: 20%;
    	float: left;
    	margin-bottom: 20px;
    	position: relative;
	}

	.about-us-page:first-child{
		margin-left: 20%;
	}

	.about-us-page:last-child{
		margin-right: 20%;
	}

	.title-about-us{
		text-align: center;
		margin-top: 10px;
		font-weight: bold;
		    text-transform: uppercase;
    letter-spacing: 1px;
	}

	.img-about-us{
		width: 60%;
		height: 20%;
		display: block;
  		margin-left: auto;
  		margin-right: auto;
	}
	.content-about-us{
		text-align: center;
		font-family: 'PT SAN', sans-serif;
		    display: block;

	}

	.wrapper-about-us-header{
			
	    color: #5D5C5C;
	    text-align: center;
	 
	}

	.wrapper-about-us-header .section_title{
	   font-weight: 800;
	}

	.wrapper-about-us-header p{
	   font-size: 18px;
	}

	a {
    	text-decoration: none !important;
    	/*color: #444444 !important;*/
	}
	
/*///////////////////////////////*/
	.clear{
		float: clear;
	}

	h2.section_title:after {
        content: "";
        position: absolute;
        border-bottom: solid 3px #3e3e3e;
        width: 30px;
        bottom: 0;
        left: 50%;
        margin-left: -15px;
    }

	h2.section_title{
		font-family: 'Oswald', sans-serif;
	    color: #000000;
	    font-size: 32px;
	    font-weight: 700;
	    margin: 0 auto 60px auto;
	    padding-bottom: 10px;
	    text-transform: uppercase;
	    display: table;
	    position: relative;
	}

</style>

<div class="wrapper-about-us-header">
	<h2 class="section_title">About Us </h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu nibh quam. Sed feugiat justo neque, ac dapibus lacus eleifend ut. Sed <br>feugiat suscipit lectus, fermentum dignissim lacus efficitur at. Mauris non tincidunt urna,</p>
</div>

<div class = "wrapper-about-us-footer">
	
	<div class = "about-us-page">
		<a href="#">
			<img class="img-about-us" src="{{imagePath[0]}}" alt="" title="This is an example of a caption"/>
			<h4 class = "title-about-us" >{{lists[0].title}}</h4>
		</a>

		<div class="content-about-us">
			{{lists[3].content | raw}}
		</div>
	
		
	</div>

		<div class = "about-us-page">
		<a href="#">
			<img class="img-about-us" src="{{imagePath[0]}}" alt="" title="This is an example of a caption"/>
			<h4 class = "title-about-us" >{{lists[0].title}}</h4>
		</a>
			<div class="content-about-us">
			{{lists[3].content | raw}}
		</div>
		
	</div>

		<div class = "about-us-page">
		<a href="#">
			<img class="img-about-us" src="{{imagePath[0]}}" alt="" title="This is an example of a caption"/>
			<h4 class = "title-about-us" >{{lists[0].title}}</h4>
		</a>
		<div class="content-about-us">
			{{lists[3].content | raw}}
		</div>
		
	</div>
</div>

<div class="clear"></div>


<style type="text/css">
	.wrapper-our-work-footer{

    	width: 100%;
    	margin-right: auto; 
		margin-left: auto; 
	}

	.img-our-work{
		height: 436px;
		display: block; 	
	}

	.our-work-page{
    	width: 31%;
    	margin-right: 2%;
		display: inline-block;
    	margin-bottom: 20px;
    	position: relative;
	}

	.ul-our-work{
		list-style-type: none;
	}

	.photo-our-work{
		padding-left: 18%;
    	padding-right: 18%;
		width: 100%;
		height: auto;
	}

	.img-our-work:hover{
		opacity:0.2;

	}

	.our-work-page li strong{
		display: none;
		position: absolute;
		top: 50%;
		text-align: center;
		width: 100%;

	}

	.our-work-page li p{
		display: none;
		position: absolute;
		text-align: center;
		top: 60%;
		width: 100%;
	

	}

	.our-work-page li {
		background: url(http://sktthemesdemo.net/design-agency/wp-content/themes/skt-design-agency-pro/images/view-full-portfolio.png) 50% 0 no-repeat #060505;

	}

	.our-work-page li:hover{
		transition: all 0.6s ease-in-out;
			z-index: 999;
   		background: url(http://sktthemesdemo.net/design-agency/wp-content/themes/skt-design-agency-pro/images/view-full-portfolio.png) 50% 65% no-repeat #060505;
	}

	.our-work-page li:hover strong{
		display:block;
	}

	.our-work-page li:hover p{
		display:block; line-height:100%;
	}
</style>

<div class="wrapper-about-us-header">
	<h2 class="section_title">Our Work <span></span></h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu nibh quam. Sed feugiat justo neque, ac dapibus lacus eleifend ut. Sed <br>feugiat suscipit lectus, fermentum dignissim lacus efficitur at. Mauris non tincidunt urna,</p>
</div>

<div class ="wrapper-our-work-footer" >
	<div class ="photo-our-work" > 
		<ul class="ul-our-work">
			<div class="our-work-page">
				<li>
					<strong>Portfolio 6</strong>
					<p>Design, Bottle Consectetur adipiscing…</p>
					<a href="#">
						<img class="img-our-work" src="{{imagePath[0]}}" alt="" title="This is an example of a caption"/>
					</a>
				</li>
			</div>

			<div class="our-work-page">
				<li>
					<strong>Portfolio 6</strong>
					<p>Design, Bottle Consectetur adipiscing…</p>
					<a href="#">
						<img class="img-our-work" src="{{imagePath[0]}}" alt="" title="This is an example of a caption"/>
					</a>
				</li>
			</div>

			<div class="our-work-page">

				<li>
					<strong>Portfolio 6</strong>
					<p>Design, Bottle Consectetur adipiscing…</p>
					<a href="#">
						<img class="img-our-work" src="{{imagePath[0]}}" alt="" title="This is an example of a caption"/>
					</a>
				</li>

			</div>


		</ul>
	</div>

</div>
<div class="clear"></div>

<style type="text/css">
	.wrapper-why-choose-us-footer{
		width: 100%;
		padding-left: 18%;
		padding-right: 18%;
	}

	.why-choose-us-page{
		margin-right: 3%;
	
    	width: 30%;
    	display: inline-table;
    	margin-bottom: 20px;
    	position: relative;
	}


	.title-why-choose-us{
		text-align: center;
		margin-top: 10px;
		font-weight: bold;
		text-transform: uppercase;
    	letter-spacing: 1px;
	}

	.img-why-choose-us{
			float: left;
		width: 141px;
	    height: 141px;
	    margin-right: 30px;
	    border: solid 3px transparent;
	    transition: all 0.6s ease-in-out 0s;
	}

	.content-why-choose-us{
		
		text-align: left;
		font-family: 'PT SAN', sans-serif;
		display: block;
	}

	.title-why-choose-us{
		float: left;
    	line-height: 23px;
    	margin-top: 10%;
	}

	.img-why-choose-us:hover{ 
		border:solid 3px #e20d13;
	}


</style>

<div class="wrapper-about-us-header">
	<h2 class="section_title">Why Choose Us<span></span></h2>
</div>

<div class = "wrapper-why-choose-us-footer">
	<div class = "why-choose-us-page">
		<a href="#">
			<img class="img-why-choose-us" src="{{imagePath[0]}}" alt="" title="This is an example of a caption"/>
			<h4 class = "title-why-choose-us" >{{lists[0].title}}</h4>
		</a>
			
		<div class="clear"></div>

		<div class="content-why-choose-us">
			{{lists[3].content | raw}}
		</div>
	
		<a href="#" target="_blank" class="read-more">Read More → </a>
		
	</div>

	<div class = "why-choose-us-page">
		<a href="#">
			<img class="img-why-choose-us" src="{{imagePath[0]}}" alt="" title="This is an example of a caption"/>
			<h4 class = "title-why-choose-us" >{{lists[0].title}}</h4>
		</a>

		<div class="clear"></div>

		<div class="content-why-choose-us">
			{{lists[3].content | raw}}
		</div>
	
		<a href="#" target="_blank" class="read-more">Read More → </a>
	</div>

	<div class = "why-choose-us-page">
		<a href="#">
			<img class="img-why-choose-us" src="{{imagePath[0]}}" alt="" title="This is an example of a caption"/>
			<h4 class = "title-why-choose-us" >{{lists[0].title}}</h4>
		</a>

		<div class="clear"></div>

		<div class="content-why-choose-us">
			{{lists[3].content | raw}}
		</div>
	
		<a href="#" target="_blank" class="read-more">Read More → </a>
	</div>
</div>

<div class="clear"></div>

<style type="text/css">
	.wrapper-our-team-footer{
		width: 100%;
		padding-left: 18%;
		padding-right: 18%;
	}

	.our-team-page{
		text-align: center;
		width: 23%;
	    margin-right: 2%;
    	float: left;
    	margin-bottom: 20px;
	}

	.our-team-page:first-child{
		margin-left: 0;
	}


	.our-team-page:last-child{
		margin-right: 0;
	}

	.title-our-team{
		text-align: center;
		margin-top: 10px;
		font-weight: bold;
		text-transform: uppercase;
    	letter-spacing: 1px;
	}

	.img-our-team{
		width: 100%;
	    height: 318px;
	    margin-right: 30px;
	    transition: all 0.6s ease-in-out 0s;
	}

	.our-team-page:hover{
		background: #e20d13;
	}

	.content-our-team{
		font-style: italic;
		font-family: 'PT SAN', sans-serif;
		font-size: 14px;
	}

	.title-our-team{

    	line-height: 23px;
	}

	.space-section{
		margin-bottom: 50px;
	}

	.title-section-our-team{
		padding: 15px 25px;
	}

	.title-section-our-team h4{
		
	    text-transform: uppercase;
    	font-weight: 800;
   		margin: 0;
    	padding: 10px 0;
	}


</style>


<div class="wrapper-about-us-header">
	<h2 class="section_title">Our Team<span></span></h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu nibh quam. Sed feugiat justo neque, ac dapibus lacus eleifend ut. Sed <br>feugiat suscipit lectus, fermentum dignissim lacus efficitur at. Mauris non tincidunt urna,</p>
</div>

<div class = "wrapper-our-team-footer">
	<div class = "our-team-page">
		<a href="#">
			<img class="img-our-team" src="{{imagePath[0]}}" alt="" title="This is an example of a caption"/>
			
		</a>

		<div class="title-section-our-team">
			<h4 class = "title-our-team" >{{lists[0].title}}</h4>
			<div class="content-our-team">{{lists[3].title}}</div>
		</div>
		
		
	</div>

		<div class = "our-team-page">
		<a href="#">
			<img class="img-our-team" src="{{imagePath[0]}}" alt="" title="This is an example of a caption"/>
			
		</a>

		<div class="title-section-our-team">
			<h4 class = "title-our-team" >{{lists[0].title}}</h4>
			<div class="content-our-team">{{lists[3].title}}</div>
		</div>
		
		
	</div>

		<div class = "our-team-page">
		<a href="#">
			<img class="img-our-team" src="{{imagePath[0]}}" alt="" title="This is an example of a caption"/>
			
		</a>

		<div class="title-section-our-team">
			<h4 class = "title-our-team" >{{lists[0].title}}</h4>
			<div class="content-our-team">{{lists[3].title}}</div>
		</div>
		
		
	</div>

		<div class = "our-team-page">
		<a href="#">
			<img class="img-our-team" src="{{imagePath[0]}}" alt="" title="This is an example of a caption"/>
			
		</a>

		<div class="title-section-our-team">
			<h4 class = "title-our-team" >{{lists[0].title}}</h4>
			<div class="content-our-team">{{lists[3].title}}</div>
		</div>
		
		
	</div>
</div>

<div class="clear"></div>

<div class="space-section"></div>
<!-- ///////////////////////////////////// -->

<style type="text/css">
	
	#myCarousel{
      background-image:url(http://sktthemesdemo.net/design-agency/wp-content/themes/skt-design-agency-pro/images/testimonial-bg.jpg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      height: 550px;
      background-attachment: fixed;
      color: green;
   }
</style>


 <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <!-- <img src="la.jpg" alt="Los Angeles" style="width:100%;"> -->
        <h1>AAAAAAAAAAAAABBBBBBBBBBBBBBBBBBBBBBBBB</h1>
      </div>

      <div class="item">
        <!-- <img src="chicago.jpg" alt="Chicago" style="width:100%;"> -->
        <h1>CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC</h1>
      </div>
    
      <div class="item">
        <!-- <img src="ny.jpg" alt="New york" style="width:100%;"> -->
        <h1>DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD</h1>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>



<div class="clear"></div>