{% set lists = __SELF__.list%}
{% set feature_image = __SELF__.feature_image%}

<a href="{{ 'about'|page }}">About Us</a>

<div id="myCarousel" class="carousel slide" data-ride="carousel" style="background-image:url({{''|page ~ '/storage/app/media' ~ feature_image}});">
    <!-- Indicators -->
    <ol class="carousel-indicators">

      	{% for i in range(0,lists|length-1)%}
      		{% if i == 0 %}
      			<li data-target="#myCarousel" data-slide-to={{i}} class="active"></li>
      		{% else %}
				<li data-target="#myCarousel" data-slide-to={{i}}></li>
      		{% endif %}
      	{% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner carousel-inner-text">
		{% for i in range(0,lists|length-1)%}
      		{% if i == 0 %}
      			
		      	<div class="item active">
			        <!-- <img src="la.jpg" alt="Los Angeles" style="width:100%;"> -->
			        <h3>{{lists[i].title}}</h1>
			        <h6>{{lists[i].company_name ~ ', ' ~ lists[i].roll ~ ', ' ~ lists[i].company_name}}</h6>
			        <p>{{lists[i].content|raw}}</p>

		      	</div>
      		{% else %}
				
				<div class="item">
					<!-- <img src="chicago.jpg" alt="Chicago" style="width:100%;"> -->
					<h3>{{lists[i].title}}</h1>
			        <h6>{{lists[i].company_name ~ ', ' ~ lists[i].roll ~ ', ' ~ lists[i].company_name}}</h6>
			        <p>{{lists[i].content|raw}}</p>
				</div>
      		{% endif %}
      	{% endfor %}

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>



<div class="clear"></div>
