title = "Home"
url = "/"
layout = "default"
is_hidden = 0

[viewBag]
localeTitle[vi] = "Trang chủ"

[imageList]

[showportfolio]

[showtestimonial]

[showmember]

[showpost]
==
<p>{% component 'imageList' %}&nbsp;</p>

<p>{% partial 'home/about-us' %}&nbsp;</p>

{% component 'showportfolio' %}

{% component 'showpost' %}

{% component 'showtestimonial' %}

{% component 'showmember' %}





<p>{% partial 'home/skills' %}&nbsp;</p>

<p>{% partial 'home/latest-post' %}</p>