title = "test"
url = "/test/:slug"
layout = "default"
is_hidden = 0

[ShowPortfoliodetail]
slug_component = "slug"
==
{% component 'ShowPortfoliodetail' %}

<!-- <form data-request="onTest" data-request-update="mypartial: '#myDiv'">


    <input name="value1"> + <input name="value2">

    <button type="submit">Calculate</button>

</form>


<button data-request="onSubmitContactForm" data-request-update="mypartial: '#myDiv'">Go</button>


<div id="myDiv"></div> -->