
<style type="text/css">
	.nlstech-show-portfolio-detail{
		display: block;
		overflow:auto; 
	}

	.show-portfolio-detail-container{
		overflow:auto; 
	}

	.innerbanner{
		height: 518px;
		width: 100%;
	}

	.innerbanner img{
		width: 100%;
		height: 100%;
		display: block;
    	float: left;
	}

	.content-show-portfolio-detail{
		padding-left: 20%;
		padding-right: 20%;
	}

	.img-show-portfolio-detail{
		float: left;
	}

	.img-show-portfolio-detail img{
		display: block;
	}

	.content-show-portfolio-detail p{
		margin-left: 7%;
	}

	.content-show-portfolio-detail h5{
		font-family: Oswald;
	    font-size: 17px;
	    color: #000000;
	    margin-left: 7%;
	}

	.client-name{
		font-style: italic;
	}

</style>

<div class="nlstech-show-portfolio-detail">

	<div class="show-portfolio-detail-container">

		<div class="innerbanner">  
			<img src="http://sktthemesdemo.net/design-agency/wp-content/themes/skt-design-agency-pro/images/default-banner.jpg" alt="">  
		</div>

		<div class="content-show-portfolio-detail">
			<div class="wrapper-show-portfolio-detail-header">
				<h1 class="section_title">Portfolio 5 </h2>
			</div>

			<div class ="wrapper-show-portfolio-detail-footer" >
				<div class="img-show-portfolio-detail">
					<img width="252" height="300" src="http://sktthemesdemo.net/design-agency/wp-content/uploads/2015/10/portfolio-image-1-252x300.jpg" class="alignleft wp-post-image" alt="portfolio-image-1" srcset="http://sktthemesdemo.net/design-agency/wp-content/uploads/2015/10/portfolio-image-1-252x300.jpg 252w, http://sktthemesdemo.net/design-agency/wp-content/uploads/2015/10/portfolio-image-1.jpg 370w" sizes="(max-width: 252px) 100vw, 252px">
				</div>
			

				<div class="content-show-portfolio-detail">
					<p>Design, Bottle Consectetur adipiscing elit. Aliquam nec felis eu felis egestas vehicula a sed leo. Quisque suscipit nisl in posuere venenatis. Vivamus ut dui ligula. Aenean feugiat velit in diam feugiat, ut viverra ipsum viverra. Mauris pharetra non eros non consectetur. Sed elementum imperdiet arcu in porttitor. Curabitur porta tellus sem, vitae molestie nisl faucibus non. Sed ac dictum ipsum. Nunc in lacus vitae dolor dictum cursus eu quis sapien. Vestibulum vel lectus non erat egestas vulputate vel non leo.</p>

					<h5>Client:</h5>

					<p class="client-name"><em>Bottle Design</em></p>
				</div>

			</div>

		</div>
	
	</div>
</div>

<div class="clear"></div>