{% set lists = __SELF__.list%}
{% set imagePath = __SELF__.imagePath %}

<div class="nlstech-our-work">
	<div class="wrapper-our-work-header">
		<h2 class="section_title">Our Work <span></span></h2>
	</div>

	<div class ="wrapper-our-work-footer" >
		<div class ="photo-our-work" > 
			<ul class="ul-our-work">
				{% if lists|length > 0%}
					{% for i in range(0,lists|length-1)%}
						<div class="our-work-page">
							<li>
							
								<strong>{{lists[i].name_project}}</strong>
								<p>{{str_limit(lists[i].description_project|raw,40)}}</p>
								<a href="{{'test/' ~ lists[i].slug}}">
									<img class="img-our-work" src="{{imagePath[i]}}" alt="" title="This is an example of a caption"/>
								</a>
							</li>
						</div>
					{% endfor %}
				{% endif %}
			</ul>
		</div>

	</div>
</div>
<div class="clear"></div>