description = "Default layout"

[localePicker]
forceUrl = 0
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>NLSTech - {{ this.page.title }}</title>

        <link rel="stylesheet" href="{{'assets/css/default.css'|theme}}" type="text/css" media="screen" />
 <link rel="stylesheet" href="{{'assets/css/nivo-slider.css'|theme}}" type="text/css" media="screen" />
<link rel="stylesheet" href="{{'assets/css/style.css'|theme}}" type="text/css" media="screen" />

        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="NLSTech">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="NLSTech">
        <link rel="icon" type="image/x-icon" href="{{ 'assets/images/favicon.ico'|theme }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="{{ 'assets/css/all.min.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/asPieProgress.min.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/theme.css'|theme }}" rel="stylesheet">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <link href="{{ 'assets/css/layout.css'|theme }}" rel="stylesheet">

        <link href="{{ 'assets/css/about-us.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/our-work.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/why-choose-us.css'|theme }}" rel="stylesheet">


      
        <link href="{{ 'assets/css/testimonials.css'|theme }}" rel="stylesheet">

        <link href="{{ 'assets/css/our-team.css'|theme }}" rel="stylesheet">

       

        {% styles %}
    </head>
    <body>

        <!-- Header -->
        <header id="layout-header">
            {% partial 'site/header' %}
        </header>

        <!-- Content -->
        <section id="layout-content">
            {% page %}
        </section>

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial 'site/footer' %}
        </footer>

        <!-- Scripts -->
        <script src="{{ 'assets/js/jquery-3.3.1.min.js'|theme }}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="{{ 'assets/js/jquery-asPieProgress.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/app.js'|theme }}"></script>
        
            <script type="text/javascript" src="{{'assets/js/jquery-1.9.0.min.js'|theme}}"></script>
    <script type="text/javascript" src="{{'assets/js/jquery.nivo.slider.js'|theme}}"></script>
    <script type="text/javascript">
    //$(window).load(function() {
        // $('#slider').nivoSlider();

    //});
    $( document ).ready(function() {
    $('#slider').nivoSlider();
});

    </script>

        
        
        {% framework extras %}
        {% scripts %}

    </body>
</html>