{% set imagePath = __SELF__.imagePath %}


    <div id="wrapper">

        <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
                <img src="{{ 'assets/images/background/slider1.jpg'|theme }}" alt="" width="618" height="246" title="#htmlcaption1"/>
            	<img src="{{ 'assets/images/background/slider2.jpg'|theme }}" alt="" width="618" height="246" title="#htmlcaption2"/>
            	<img src="{{ 'assets/images/background/slider3.jpg'|theme }}" alt="" width="618" height="246" title="#htmlcaption1"/>
            	<!-- <img src="{{imagePath[1]}}" alt="" width="618" height="246" title="#htmlcaption2"/> -->
            </div>
    		
        </div>
        <div id="htmlcaption1" class="nivo-html-caption">
            <div class="title-slideshow">
                 <h2> WE DESIGN DIGITAL EXPERIENCES </br>FOR WEB AND MOBILE. </h2>
            </div>
          	<p>Have an idea, product or need a design partner?</p>
        </div>

        <div id="htmlcaption2" class="nivo-html-caption">
            <div class="title-slideshow">
                <h2> "DESIGN AGENCY" INCLUDES SOLID  </br>ANIMATED DIVS UNLIMITED POSSIBILITIES </h2>
            </div>
            <p>Have an idea, product or need a design partner?</p>
        </div>



    </div>


