[viewBag]
==
<?php
use NlsTech\Post\Models\Post;

function onStart() {
	$posts = Post::orderBy('id', 'desc')->take(3)->get();
	$this['home_posts'] = $posts;
}
?>
==
{% if home_posts %}
	<div class="section sec-latest-posts">
		<div class="container">
			<h2 class="section-title">{{ 'Latest posts'|_ }}</h2>
			<div class="row list-items">
				{% for post in home_posts %}
					<div class="col-md-4 item">
						<a class="thumb" href="{{ 'post'|page }}"><img src="{{ post.feature_image.getPath() }}" alt="{{ post.title }}"></a>
						<div class="item-content">
							<h4><a href="{{ 'post'|page }}">{{ post.title }}</a></h4>
							<p class="date-post">{{ post.created_at|date('d F Y') }}</p>
							{{ str_words(post.content, 39, '...') }}
							<a class="read-more" href="{{ 'post'|page }}">{{ 'Read More'|_ }} →</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endif %}