[viewBag]
==

<div class="nlstech-our-team">
	<div class="wrapper-our-team-header">
		<h2 class="section_title">Our Team<span></span></h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu nibh quam. Sed feugiat justo neque, ac dapibus lacus eleifend ut. Sed <br>feugiat suscipit lectus, fermentum dignissim lacus efficitur at. Mauris non tincidunt urna,</p>
	</div>

	<div class = "wrapper-our-team-footer">
		<div class = "our-team-page">
			<a href="#">
				<img class="img-our-team" src="{{ 'assets/images/our-team/ourteam-1.jpg'|theme }}" alt="" title="This is an example of a caption"/>
				
			</a>

			<div class="title-section-our-team">
				<h4 class = "title-our-team" >John Doe</h4>
				<div class="content-our-team">Creative Director</div>
			</div>
			
			
		</div>

			<div class = "our-team-page">
			<a href="#">
				<img class="img-our-team" src="{{ 'assets/images/our-team/ourteam-2.jpg'|theme }}" alt="" title="This is an example of a caption"/>
				
			</a>

			<div class="title-section-our-team">
				<h4 class = "title-our-team" >Jessica Doe</h4>
				<div class="content-our-team">UX Architect</div>
			</div>
			
			
		</div>

			<div class = "our-team-page">
			<a href="#">
				<img class="img-our-team" src="{{ 'assets/images/our-team/ourteam-3.jpg'|theme }}" alt="" title="This is an example of a caption"/>
				
			</a>

			<div class="title-section-our-team">
				<h4 class = "title-our-team" >Martin Doe</h4>
				<div class="content-our-team">UI/UX Designer</div>
			</div>
			
			
		</div>

			<div class = "our-team-page">
			<a href="#">
				<img class="img-our-team" src="{{ 'assets/images/our-team/ourteam-4.jpg'|theme }}" alt="" title="This is an example of a caption"/>
				
			</a>

			<div class="title-section-our-team">
				<h4 class = "title-our-team" >Chritina Doe</h4>
				<div class="content-our-team">Business Analyst</div>
			</div>
			
			
		</div>
	</div>
</div>
<div class="clear"></div>