[viewBag]
==

<div class="nlstech-our-work">
	<div class="wrapper-our-work-header">
		<h2 class="section_title">Our Work <span></span></h2>
	</div>

	<div class ="wrapper-our-work-footer" >
		<div class ="photo-our-work" > 
			<ul class="ul-our-work">
				<div class="our-work-page">
					<li>
						<strong>Portfolio 1</strong>
						<p>Design, Bottle Consectetur adipiscing…</p>
						<a href="#">
							<img class="img-our-work" src="{{ 'assets/images/our-work/portfolio-image-1.jpg'|theme }}" alt="" title="This is an example of a caption"/>
						</a>
					</li>
				</div>

				<div class="our-work-page">
					<li>
						<strong>Portfolio 2</strong>
						<p>Design, Bottle Consectetur adipiscing…</p>
						<a href="#">
							<img class="img-our-work" src="{{ 'assets/images/our-work/portfolio-image-4.jpg'|theme }}" alt="" title="This is an example of a caption"/>
						</a>
					</li>
				</div>

				<div class="our-work-page">

					<li>
						<strong>Portfolio 3</strong>
						<p>Design, Bottle Consectetur adipiscing…</p>
						<a href="#">
							<img class="img-our-work" src="{{ 'assets/images/our-work/portfolio-image-3.jpg'|theme }}" alt="" title="This is an example of a caption"/>
						</a>
					</li>

				</div>

				<div class="our-work-page">

					<li>
						<strong>Portfolio 4</strong>
						<p>Design, Bottle Consectetur adipiscing…</p>
						<a href="#">
							<img class="img-our-work" src="{{ 'assets/images/our-work/portfolio-image-5.jpg'|theme }}" alt="" title="This is an example of a caption"/>
						</a>
					</li>

				</div>

				<div class="our-work-page">

					<li>
						<strong>Portfolio 5</strong>
						<p>Design, Bottle Consectetur adipiscing…</p>
						<a href="#">
							<img class="img-our-work" src="{{ 'assets/images/our-work/portfolio-image-6.jpg'|theme }}" alt="" title="This is an example of a caption"/>
						</a>
					</li>

				</div>

				<div class="our-work-page">

					<li>
						<strong>Portfolio 6</strong>
						<p>Design, Bottle Consectetur adipiscing…</p>
						<a href="#">
							<img class="img-our-work" src="{{ 'assets/images/our-work/portfolio-image-1.jpg'|theme }}" alt="" title="This is an example of a caption"/>
						</a>
					</li>

				</div>


			</ul>
		</div>

	</div>
</div>
<div class="clear"></div>