[viewBag]
==
<?php
use NlsTech\Skill\Models\Skill;

function onStart() {
	$skills = Skill::orderBy('id', 'desc')->get();
	$this['home_skills'] = $skills;
}
?>
==
{% if home_skills %}
	<div class="section sec-skills">
		<div class="container">
			<h2 class="section-title">{{ 'Skills & Expertise'|_ }}</h2>
			<div class="row list-items">
				{% for skill in home_skills %}
				<div class="col-md-2 item">
					<div class="pieProgress" role="progressbar" data-goal="{{ skill.level }}" data-step="1" data-barcolor="#e20d13">
	  					<span class="pie_progress__number">0</span>
					</div>
  					<div class="pie_progress__text">{{ skill.skill }}</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endif %}