[viewBag]
==
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner carousel-inner-text">
      <div class="item active">
        <!-- <img src="la.jpg" alt="Los Angeles" style="width:100%;"> -->
        <h3> " TT IS A LONG ESTABLISHED FACT THAT A READER WILL BE DISTRACTED BY THE READABLE "</h1>
        <h6> Mauris quis sequis, and co / founder, example.com</h6>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English. Many desktop publishing packages and…</p>

      </div>

      <div class="item">
        <!-- <img src="chicago.jpg" alt="Chicago" style="width:100%;"> -->
        <h3> " TT IS A LONG ESTABLISHED FACT THAT A READER WILL BE DISTRACTED BY THE READABLE "</h1>
        <h6> Mauris quis sequis, and co / founder, example.com</h6>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English. Many desktop publishing packages and…</p>
      </div>
    
      <div class="item">
        <!-- <img src="ny.jpg" alt="New york" style="width:100%;"> -->
         <h3> " TT IS A LONG ESTABLISHED FACT THAT A READER WILL BE DISTRACTED BY THE READABLE "</h1>
        <h6> Mauris quis sequis, and co / founder, example.com</h6>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English. Many desktop publishing packages and…</p>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>



<div class="clear"></div>