[viewBag]
==

<div class="nlstech-why-choose-us">
	<div class="wrapper-why-choose-us-header">
		<h2 class="section_title">Why Choose Us<span></span></h2>
	</div>

	<div class = "wrapper-why-choose-us-footer">
		<div class = "why-choose-us-page">
			<a href="#">
				<img class="img-why-choose-us" src="{{ 'assets/images/why-choose-us/chooseus1.png'|theme }}" alt="" title="This is an example of a caption"/>
				<h4 class = "title-why-choose-us" >BEAUTIFUL & CLEAN DESIGNS</h4>
			</a>
				
			<div class="clear"></div>

			<div class="content-why-choose-us">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu nibh quam. Sed feugiat justo neque, ac dapibus lacus eleifend ut. Sed feugiat suscipit lectus
			</div>
		
			<div class="read-more-why-us">
				<a href="#" target="_blank" >Read More → </a>
			</div>
			
		</div>

		<div class = "why-choose-us-page">
			<a href="#">
				<img class="img-why-choose-us" src="{{ 'assets/images/why-choose-us/chooseus2.png'|theme }}" alt="" title="This is an example of a caption"/>
				<h4 class = "title-why-choose-us" >RESPONSIVE & RETINA READY</h4>
			</a>

			<div class="clear"></div>

			<div class="content-why-choose-us">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu nibh quam. Sed feugiat justo neque, ac dapibus lacus eleifend ut. Sed feugiat suscipit lectus
			</div>
		
			<div class="read-more-why-us">
				<a href="#" target="_blank" >Read More → </a>
			</div>
			
		</div>

		<div class = "why-choose-us-page">
			<a href="#">
				<img class="img-why-choose-us" src="{{ 'assets/images/why-choose-us/chooseus3.png'|theme }}" alt="" title="This is an example of a caption"/>
				<h4 class = "title-why-choose-us" >DEDICATED SUPPORT & UPDATES</h4>
			</a>

			<div class="clear"></div>

			<div class="content-why-choose-us">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu nibh quam. Sed feugiat justo neque, ac dapibus lacus eleifend ut. Sed feugiat suscipit lectus
			</div>
		
			<div class="read-more-why-us">
				<a href="#" target="_blank" >Read More → </a>
			</div>
		</div>
	</div>
</div>
<div class="clear"></div>